[submodule "dfc-server"]
	path = dfc-server
	url = https://github.com/MapMemory/dfc-server.git
	branch = main
[submodule "dfc-site"]
	path = dfc-site
	url = https://github.com/MapMemory/dfc-site.git
	branch = main
