[submodule "dfc-server"]
	path = dfc-server
	url = https://github.com/MapMemory/dfc-server
    branch = tags/main
[submodule "dfc-site"]
	path = dfc-site
	url = https://github.com/MapMemory/dfc-site
    branch = tags/main
